/* styles.css */

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #1c1c1e;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 375px; /* Increased width to 1.5x of 250px */
    background: #2c2c2e;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .profile img {
    width: 100px;
    border-radius: 50%;
}

.sidebar .profile h2 {
    margin: 10px 0 5px;
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.skills, .coding, .other-skills {
    margin-bottom: 20px;
}

.skills h3, .coding h3, .other-skills h3 {
    margin-bottom: 10px;
}

.sidebar .nav ul {
    list-style: none;
    padding: 0;
}

.sidebar .nav ul li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar .nav ul li:hover {
    background: #444;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.section.active {
    display: block;
    opacity: 1;
}

.section-title {
    width: 75%;
    background: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto 20px;
    text-align: center;
}

.card {
    background: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.skills-container, .coding-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill p {
    margin-top: 10px;
    text-align: center;
}

.circle {
    position: relative;
    width: 75px;
    height: 75px;
}

.circle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

.circle .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #00ffff;
}

.other-skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Reduce the gap between elements */
}

.other-skills p {
    margin: 0;
    padding: 5px 10px;
    background: #1c1c1e;
    border-radius: 5px;
    border: 1px solid #000;
    transition: transform 0.3s;
    flex: 1 1 auto; /* Allow elements to wrap naturally */
    text-align: center;
}

.other-skills p:hover {
    transform: scale(1.1);
}
